<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!--При развертывании проекта библиотеки службы необходимо добавить содержимое файла конфигурации в 
  файл app.config узла. Пространство имен System.Configuration не поддерживает файлы конфигурации для библиотек. -->
  <system.serviceModel>
    <services>
      <service name="Бипит_5.Service1">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/Бипит_5/Service1/" />
          <add baseAddress = "net.tcp://localhost:8734/Design_Time_Addresses/Бипит_5/Service1/" />
          </baseAddresses>
        </host>
        <endpoint address="http" binding="basicHttpBinding" contract="Бипит_5.IService1">
        </endpoint>
         <endpoint address="tcp" binding="netTcpBinding" contract="Бипит_5.IService1">
        </endpoint>
        <endpoint address="mexhttp" binding="mexHttpBinding" contract="IMetadataExchange"/>
      <endpoint address="mextcp" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
